@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-dancing-script: "Dancing Script", cursive;

  --color-base: var(--base);
  --color-surface0: var(--surface0);
  --color-text: var(--text-color);
  --color-inactive: var(--inactive-link);
}

:root {
  --base: oklch(0.5689 0.0628 241.39);
  --surface0: oklch(0.5 0.0628 241.39);
  --text-color: oklch(0.985 0 0);
  --inactive-link: oklch(0.985 0 0 / 25%);
}

:root[data-theme="light"] {
  --base: oklch(0.985 0 0);
  --surface0: oklch(0.9 0.02 241.39);
  --text-color: oklch(0.5689 0.0628 241.39);
  --inactive-link: oklch(0.5689 0.0628 241.39 / 25%);
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme="dark"]) {
    --base: oklch(0.985 0 0);
    --surface0: oklch(0.85 0.03 241.39);
    --text-color: oklch(0.5689 0.0628 241.39);
    --inactive-link: oklch(0.5689 0.0628 241.39 / 25%);
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
