@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-dancing-script: "Dancing Script", cursive;

  --color-base: var(--base);
  --color-surface0: var(--surface0);
  --color-text: var(--text-color);
  --color-inactive: var(--inactive-link);
}

:root {
  --base: #557c99;
  --surface0: #4a6b86;
  --text-color: #fafafa;
  --inactive-link: #fafafa40;
}

:root[data-theme="light"] {
  --base: #fafafa;
  --surface0: #e6f0f5;
  --text-color: #557c99;
  --inactive-link: #557c9940;
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme="dark"]) {
    --base: #fafafa;
    --surface0: #e6f0f5;
    --text-color: #557c99;
    --inactive-link: #557c9940;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
