@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-dancing-script: "Dancing Script", cursive;

  --color-bg: var(--bg);
  --color-text-main: var(--text-color);
  --color-inactive: var(--inactive-link);
}

:root {
  --bg: #557c99;
  --text-color: #fafafa;
  --inactive-link: #fafafa40;
}

:root[data-theme="light"] {
  --bg: #fafafa;
  --text-color: #557c99;
  --inactive-link: #557c9940;
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme="dark"]) {
    --bg: #fafafa;
    --text-color: #557c99;
    --inactive-link: #557c9940;
  }
}


html {
  background: var(--bg);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
