---
import "bootstrap-icons/font/bootstrap-icons.css";
import { Image } from "astro:assets";
import me from "../assets/me.jpeg";
---

<div id="container">
	<div id="background"></div>
	<main>
		<section id="hero">
			<Image
				id="me"
				src={me}
				alt="Simon"
				width={64}
				height={64}
				loading="eager"
			/>
			<h1>Hey, I'm Simon!</h1>
			<p>
				I'm a software engineer passionate about
				embedded and low level programming. Right now
				I'm working on innovative solutions with
				Volvo&nbsp;Car&nbsp;AB and studying full time.
			</p>
			<a href="#">My projects</a>
			<section id="links">
				<a
					href="https://github.com/simon-wg"
					aria-label="GitHub profile"
					><i
						class="bi bi-github"
						aria-hidden="true"></i></a
				>
				<a
					href="https://www.linkedin.com/in/simon-wg/"
					aria-label="LinkedIn profile"
					><i
						class="bi bi-linkedin"
						aria-hidden="true"></i></a
				>
				<a
					href="mailto:simon@simonwg.com"
					aria-label="Email address"
					><i
						class="bi bi-envelope-fill"
						aria-hidden="true"></i></a
				>
			</section>
		</section>
	</main>
</div>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playpen+Sans+Deva:wght@100..800&display=swap");
	#me {
		border: 2px solid whitesmoke;
		border-radius: 50%;
		padding: 4px;
	}

	#container {
		font-family: "Montserrat", sans-serif;
		min-height: 100svh;
	}

	#background {
		position: fixed;
		inset: 0;
		z-index: -1;
		background: #001914;
		background: linear-gradient(
			45deg,
			rgba(0, 25, 20, 1) 0%,
			rgba(0, 0, 0, 1) 25%,
			rgba(0, 0, 0, 1) 75%,
			rgba(38, 0, 0, 1) 100%
		);
	}

	main {
		min-height: 100svh;
		display: flex;
		justify-content: center;
	}

	#hero {
		max-width: 66ch;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-family: "Playpen Sans Deva", cursive;
		font-size: 1.8rem;
		margin-top: 0.25em;
		color: whitesmoke;
	}

	p {
		font-size: 1.2rem;
		text-align: center;
		margin-top: 0.25em;
		color: whitesmoke;
	}

	a {
		font-size: 1.2rem;
		text-align: center;
		margin-block: 0.25em;
		color: whitesmoke;
	}

	#links {
		display: flex;
	}

	#links a {
		font-size: 1.2rem;
		display: flex;
		align-items: center;
		color: whitesmoke;
		text-decoration: none;
		transition: color 0.2s;
		padding: 10px 15px;
		border-radius: 5px;
	}

	#links a:hover {
		color: whitesmoke;
	}

	#links:has(a:hover) a:not(:hover) {
		color: rgb(25, 25, 25);
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
			font-family: "Montserrat", sans-serif;
			min-height: 100svh;
		}

		#hero {
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
